@{
    ViewData["Title"] = "Keyed DI";
}
  
 
<table> 
    <tr>
        <td> Special Student </td>
        <td> @ViewBag.Service1 </td>
    </tr>
    <tr>
        <td> Sophomore Student</td>
        <td> @ViewBag.Service2</td>
    </tr> 
</table>

