@{
    ViewData["Title"] = "Service Provider";
}
 
 
<table> 
    <tr>
        <td> Junior Student </td>
        <td> @ViewBag.Service1 </td>
    </tr>
    <tr>
        <td> Senior Student</td>
        <td> @ViewBag.Service2</td>
    </tr> 
</table>

